<%- include("_header"); %>
    <form action="/create" method="post">
        <textarea  name="statement"></textarea> 
        <input type="text" value="name" name="name">
        <textarea  name="input"></textarea> 
        <textarea  name="output"></textarea> 
        <input type="submit" value="Submit">
    </form>
<%- include("_footer"); %>